@model YearlyOrderModel

    <div class="col-lg-3">
        <div class="ibox ">
            <div class="ibox-title">
                <span class="label label-info float-right">Yıllık</span>
                <h5>Siparişler</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">@Model.YearlyOrderCount Adet</h1>
                <div class="stat-percent font-bold text-info">@Model.ProductCount</div>
                <small>Ürün Adeti</small>
            </div>
        </div>
    </div>