
<div class="pre-footer">
    <div class="container">
        <div class="row">
            <!-- BEGIN BOTTOM ABOUT BLOCK -->
            <div class="col-md-3 col-sm-6 pre-footer-col">
                <h2 style="padding-left:65px;">HAKKIMIZDA</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam sit nonummy nibh euismod tincidunt ut laoreet dolore magna aliquarm erat sit volutpat. Nostrud exerci tation ullamcorper suscipit lobortis nisl aliquip  commodo consequat. </p>
                <p>Duis autem vel eum iriure dolor vulputate velit esse molestie at dolore.</p>
            </div>
            <!-- END BOTTOM ABOUT BLOCK -->
            <!-- BEGIN BOTTOM INFO BLOCK -->
            <div class="col-md-3 col-sm-6 pre-footer-col">
                <h2 style="padding-left:65px;">BİLGİLER</h2>
                <ul class="list-unstyled" style="margin-left:50px;">
                    <li><i class="fa fa-angle-right"></i> <a href="javascript:;">Teslimat Bilgisi</a></li>
                    <li><i class="fa fa-angle-right"></i> <a href="javascript:;">Müşteri Hizmetleri</a></li>
                    <li><i class="fa fa-angle-right"></i> <a href="javascript:;">Şipariş Takip</a></li>
                    <li><i class="fa fa-angle-right"></i> <a href="javascript:;">Teslimat &amp; İade</a></li>
                    <li><i class="fa fa-angle-right"></i> <a href="contacts.html">Hakkımızda</a></li>
                    <li><i class="fa fa-angle-right"></i> <a href="javascript:;">Kariyer</a></li>
                    <li><i class="fa fa-angle-right"></i> <a href="javascript:;">Ödeme Yöntemleri</a></li>
                </ul>
            </div>
            <!-- END INFO BLOCK -->
            <!-- BEGIN TWITTER BLOCK -->
            <div class="col-md-3 col-sm-6 pre-footer-col">
                <h2 style="padding-left:55px;">Tarzol</h2>
                <ul>
                    <li><a>Kullanıcı Bilgilerim</a></li>
                    <li><a>İşlem Rehberi</a></li>
                    <li><a>Mobil Uygulamalar</a></li>
                    <li><a>Bilgi Toplumu Hizmetleri</a></li>
                    <li><a>Güvenli Alışveriş Kılavuzu</a></li>
                    <li><a>Kişisel Verilerin Korunması</a></li>
                    <li><a>Bilgi Güvenliği Politikası</a></li>
                    <li><a>Kurumsal Hediye Çeki</a></li>
                </ul>
            </div>
            <!-- END TWITTER BLOCK -->
            <!-- BEGIN BOTTOM CONTACTS -->
            <div class="col-md-3 col-sm-6 pre-footer-col">
                <h2 style="padding-left:45px;">İLETİŞİM</h2>
                <address class="margin-bottom-40">
                    Meydan Sokak, Çalı Mahallesi<br>
                    Bostancı, İstanbul<br>
                    Telefon: 0212 256 2525<br>
                    Fax: 0212 323 1456<br>
                    Email: <a href="mailto:info@tarzol.com">info@tarzol.com</a><br>
                    Skype: <a href="skype:tarzol">tarzol</a>
                </address>
            </div>
            <!-- END BOTTOM CONTACTS -->
        </div>
        <hr>
        <div class="row">
            <!-- BEGIN SOCIAL ICONS -->
            <div class="col-md-6 col-sm-6">
                <ul class="social-icons">
                    <li><a class="rss" data-original-title="rss" href="javascript:;"></a></li>
                    <li><a class="facebook" data-original-title="facebook" href="javascript:;"></a></li>
                    <li><a class="twitter" data-original-title="twitter" href="javascript:;"></a></li>
                    <li><a class="googleplus" data-original-title="googleplus" href="javascript:;"></a></li>
                    <li><a class="linkedin" data-original-title="linkedin" href="javascript:;"></a></li>
                    <li><a class="youtube" data-original-title="youtube" href="javascript:;"></a></li>
                    <li><a class="vimeo" data-original-title="vimeo" href="javascript:;"></a></li>
                    <li><a class="skype" data-original-title="skype" href="javascript:;"></a></li>
                </ul>
            </div>
            <!-- END SOCIAL ICONS -->
            <!-- BEGIN NEWLETTER -->
            <div class="col-md-6 col-sm-6">
                <div class="pre-footer-subscribe-box pull-right">
                    <h2>BÜLTEN</h2>
                    <form action="#">
                        <div class="input-group">
                            <input type="text" placeholder="mailadresiniz@mail.com" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Abone Ol</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END NEWLETTER -->
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <!-- BEGIN COPYRIGHT -->
            <div class="col-md-4 col-sm-4 padding-top-10">
                2015 © CM Elektronik Hizmetler Tic. A.Ş. Tüm Hakları Saklıdır.
            </div>
            <!-- END COPYRIGHT -->
            <!-- BEGIN PAYMENTS -->
            <div class="col-md-4 col-sm-4">
                <ul class="list-unstyled list-inline pull-right">
                    <li><img src="~/Metronic-Shop-UI-master/theme/assets/corporate/img/payments/western-union.jpg" alt="We accept Western Union" title="We accept Western Union"></li>
                    <li><img src="~/Metronic-Shop-UI-master/theme/assets/corporate/img/payments/american-express.jpg" alt="We accept American Express" title="We accept American Express"></li>
                    <li><img src="~/Metronic-Shop-UI-master/theme/assets/corporate/img/payments/MasterCard.jpg" alt="We accept MasterCard" title="We accept MasterCard"></li>
                    <li><img src="~/Metronic-Shop-UI-master/theme/assets/corporate/img/payments/PayPal.jpg" alt="We accept PayPal" title="We accept PayPal"></li>
                    <li><img src="~/Metronic-Shop-UI-master/theme/assets/corporate/img/payments/visa.jpg" alt="We accept Visa" title="We accept Visa"></li>
                </ul>
            </div>
            <!-- END PAYMENTS -->
            <!-- BEGIN POWERED -->
            <div class="col-md-4 col-sm-4 text-right">
                <p class="powered">Destekçi: <a href="http://www.keenthemes.com/">CMelektronik.com</a></p>
            </div>
            <!-- END POWERED -->
        </div>
    </div>
</div>