@model SellerSignUpViewModel
@{
    ViewData["Title"] = "SellerAppRegister";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<br />
<br />


<div style="position:relative;width:600px;height:auto;margin:auto;">
    <form class="btn-outline-primary" asp-action="SellerAppRegister"
          asp-controller="Seller" method="post">
        
        <div class="form-group">
            <strong style="font-size:20px;">Satıcı Başvuru Formu</strong>
        </div>
        <div class="form-group">
            <label>İsim</label>
            <input type="text" class="form-control" asp-for="FirstName">
        </div>

        <div class="form-group">
            <label>Soyisim</label>
            <input type="text" class="form-control" asp-for="LastName">
        </div>
        <div class="form-group">
            <label>Telefon Numarası</label>
            <input type="number" class="form-control" asp-for="PhoneNumber">
        </div>
        <div class="form-group">
            <label>Mail Adresi</label>
            <input type="email" class="form-control" asp-for="Email">
        </div>
        <div class="form-group">
            <label>Şifre</label>
            <input type="password" class="form-control" asp-for="Password">
        </div>
        <div class="form-group">
            <label>Şifre Tekrar</label>
            <input type="password" class="form-control" asp-for="ComfirmPassword">
        </div>
        
        <br />
        <br />
        <br />
        <button class="btn btn-primary" style="width:100%;" type="submit">Gönder</button>

    </form>
</div>
<br />
<br />
<br />
<br />
<br />
<br />

