
@{
    ViewData["Title"] = "UnApprovedSeller";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<br />
<br />
<br />
<br />
<div style="display:block;width:600px;height:300px;position:relative;margin:auto;">
    <strong>Talebiniz değerlendirme aşamasındadır. En kısa sürede sizlere geri bildirim sağlanacaktır.</strong>
</div>
<br />
<br />
<br />
<br />

